<div style="text-align:center">
    <h4>
      Welcome to {{ title }}!
    </h4>
  </div>
  <section class="page-body">
    <h6>Click on Get Balance button to view your account balance.</h6>
    <button mat-button data-target="loginModal" class="modal-trigger waves-effect waves-light btn" (click)="getBalance()" cdkFocusInitial>Get Balance</button>
    <br/>
    <br/>
    <h6>{{balance}}</h6>
      <div class="login-container modal" id="loginModal">
          <div class="login-modal modal-content">
            <h4>MobileFirst Login Gateway</h4 >
            <div class="mfp-modal">
                <h6>{{message}}</h6>
                <br/>
                <form class="mfp-form">
                  <div class="full-width form-field">
                    <input #userId type="text" placeholder="User Name" value="vittal">
                  </div>
                  <div class="full-width form-field">
                    <input #pass type="password"  placeholder="Password" value="vittal">
                  </div>
                </form>
              </div>
              <br/>
              <div class="action-buttons modal-footer center">
                <button class="modal-close-btn waves-effect waves-light btn" (click)="submitChallenge(userId.value, pass.value)" >Login</button>
              </div>
          </div>
      </div>
  </section>
  <div class="overlay"></div>